header{
    position: fixed;
    width: 100%;
    padding: 28px 0;
    z-index: 10;
    background: #073cac;
    background: linear-gradient(95deg, #073cac 0%, #2a77f7 50%, #4d8fff 100%);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.navbar{

    font-family: 'Montserrat', sans-serif;
    .navbar-item{
        margin: 0 20px;
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.35px;
        color: #FFFFFF;
        border-bottom: thick solid transparent;
        transition: 0.3s ease-in-out;
        &:hover{
            border-bottom: thick solid #EF7F3C;
        }
    }
}