@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

header {
  position: fixed;
  width: 100%;
  padding: 28px 0;
  z-index: 10;
  background: #073cac;
  background: linear-gradient(95deg, #073cac 0%, #2a77f7 50%, #4d8fff 100%);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.navbar .navbar-item {
  margin: 0 20px;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.35px;
  color: #FFFFFF;
  border-bottom: thick solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar .navbar-item:hover {
  border-bottom: thick solid #EF7F3C;
}

.hamburger {
  display: none;
}

.cancel_btn {
  display: none;
}

.intro {
  padding: 130px 0 100px;
}

.intro .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.intro .container .intro_text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: 'Montserrat', sans-serif;
}

.intro .container .intro_text .intro_title {
  font-weight: bold;
  font-size: 52px;
  line-height: 65px;
  color: #FFFFFF;
}

.intro .container .intro_text .intro_information {
  font-weight: 500;
  font-size: 18px;
  line-height: 39px;
  color: #FFFFFF;
  padding: 30px 0;
}

.intro .container .intro_text .intro-btn {
  padding: 26px 56px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro .container .intro-svg {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.intro .container .intro-svg img {
  width: 100%;
}

.patient {
  padding: 50px 30px;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
          box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
  border-radius: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.patient:hover .patient_img {
  border-radius: 20%;
}

.patient_img {
  border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.patient_title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #002348;
  padding: 18px 0 10px;
}

.patient_label {
  font-size: 14px;
  line-height: 18px;
  color: #002348;
}

.patient_information {
  font-size: 16px;
  line-height: 35px;
  color: #002348;
  padding-top: 20px;
}

.box {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.company {
  padding: 24px 58px 12px;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
          box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
  border-radius: 10px;
}

.company svg path {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.company_name {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #A3A3A3;
  padding-top: 14px;
  width: 90%;
  margin: auto;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.company:hover .company_name {
  color: #EF7F3C;
}

.company:hover svg path {
  fill: #EF7F3C;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px 42px;
  gap: 44px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
          box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
  border-radius: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.feature_information {
  width: 60%;
}

.feature_title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #002348;
}

.feature_label {
  font-size: 16px;
  line-height: 25px;
  color: #002348;
  padding-top: 10px;
}

.price {
  padding: 40px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
          box-shadow: 0px 10px 50px rgba(0, 59, 121, 0.0725798);
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.price:hover {
  background: #EF7F3C;
  -webkit-box-shadow: 0px 5px 50px rgba(58, 29, 11, 0.25);
          box-shadow: 0px 5px 50px rgba(58, 29, 11, 0.25);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.price:hover .price_title, .price:hover .price_label, .price:hover .price_value {
  color: #FFFFFF;
}

.price:hover .price-btn {
  border: none;
}

.price_title {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #002348;
}

.price_label {
  font-size: 16px;
  line-height: 20px;
  color: #002348;
}

.price_value {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #002348;
  padding: 60px 0;
}

.price-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 15px 48px;
  border: 2px solid #0D2476;
  border-radius: 10px;
  background-color: #FFFFFF;
}

.price-btn a {
  color: #0D2476;
}

.trns {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.trns:hover {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.services {
  padding: 60px 0;
}

.services .section_title {
  padding-bottom: 20px;
}

.services .box {
  padding-top: 30px;
}

.main {
  background: #073cac;
  background: linear-gradient(95deg, #073cac 0%, #2a77f7 50%, #4d8fff 100%);
}

.btn {
  background: #EF7F3C;
  border-radius: 10px;
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  -webkit-box-shadow: 5px 5px 13px #ef7f3c;
  -moz-box-shadow: 5px 5px 13px rgba(239, 126, 60, 0.3);
}

.section_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #111111;
  text-align: center;
}

.section_information {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #2B324C;
}

.container {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.problems {
  padding: 60px 0;
  background: #073cac;
  background: linear-gradient(95deg, #073cac 0%, #2a77f7 50%, #4d8fff 100%), url(../images/Style.png);
  background-position: left;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}

.problems .section_title {
  color: #fff;
  width: 70%;
  margin: auto;
}

.problems .section_label {
  padding: 30px 0 20px;
  text-align: center;
  font-size: 20px;
  line-height: 39px;
  color: #FFFFFF;
}

.problems .box {
  padding-top: 30px;
}

.problems .box .patient {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.problems .box .patient:hover {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.server {
  padding: 60px 0;
  text-align: center;
}

.server .section_information {
  padding: 20px 0;
  width: 60%;
  margin: auto;
}

.server .server_image {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  height: 530px;
  background-image: url("../images/Images.png");
  background-repeat: no-repeat;
  background-position: center;
}

.server .box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  gap: 40px;
  padding-top: 8px;
}

.server .box .advantage {
  text-align: initial;
  padding-top: 32px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.server .box .advantage::before {
  content: url("../images/Vector.svg");
  vertical-align: middle;
  margin-right: 10px;
}

.happy {
  background: url("../images/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 60px 0;
}

.happy .box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 80%;
}

.happy .box div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.happy .box .section_title, .happy .box .section_information {
  text-align: initial;
  color: #fff;
  padding: 10px 0;
}

.features {
  padding: 60px 0;
}

.features .box {
  padding: 20px 0;
  gap: 30px;
}

.features .box .feature {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.features .box .feature:hover {
  box-shadow: 5px 5px 13px rgba(239, 126, 60, 0.3);
  -webkit-box-shadow: 5px 5px 13px rgba(239, 126, 60, 0.3);
  -moz-box-shadow: 5px 5px 13px rgba(239, 126, 60, 0.3);
}

.features .box .section_title {
  text-align: initial;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.plan {
  padding: 60px 0 120px;
  background: #073cac;
  background: linear-gradient(95deg, #073cac 0%, #2a77f7 50%, #4d8fff 100%), url(../images/Style.png);
  background-position: left;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}

.plan .section_title {
  color: #fff;
  width: 40%;
  margin: auto;
  padding-bottom: 76px;
}

.faq {
  padding: 60px 0;
}

.faq .container {
  max-width: 600px;
}

.faq .section_title {
  margin-bottom: 20px;
}

.faq .question {
  padding: 30px 0 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px solid #DCDCDC;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.faq .question a {
  color: #2B324C;
}

.faq .question:hover {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.guarantie {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 60px 0;
  text-align: center;
  background-image: url("../images/Bg (1).png");
}

.guarantie .section_title {
  color: #fff;
  padding: 30px 0;
}

.guarantie .section_information {
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  width: 60%;
  margin: auto;
}

.guarantie_img {
  width: 600px;
  margin: auto;
}

.guarantie_img img {
  width: 100%;
}

.guarantie .gr-btn {
  padding: 16px 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 20px;
}

.footer {
  background: #061D36;
  padding-top: 60px;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.footer .row .col-1 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.footer .row .col-2, .footer .row .col-3, .footer .row .col-4 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer .footer-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  color: #5A6978;
  margin: 38px 0;
}

.footer__list__item:nth-child(1) {
  list-style-type: none;
  margin-bottom: 40px;
}

.footer__list__item:nth-child(1) a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  border: none !important;
}

.footer__list__item {
  margin: 12px 0;
  list-style-type: none;
}

.footer__list__item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #5A6978;
  padding-left: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-left: thick solid transparent;
}

.footer__list__item a:hover {
  border-left: thick solid #EF7F3C;
}

.footer__bottom {
  padding: 20px 0;
}

.footer__bottom hr {
  border: 1px solid #3B4E61;
  margin: 60px 0 20px;
}

.footer__bottom .text {
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  color: #5A6978;
}

.footer__bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom .container a {
  color: #dddddd;
}

.footer .heart {
  display: inline-block;
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .services .container .box:last-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .navbar {
    position: absolute;
    top: 0;
    padding: 60px 0;
    width: 100%;
    height: 100vh;
    left: -5000px;
    -webkit-transition: 0.8s ease-in-out;
    transition: 0.8s ease-in-out;
    background: linear-gradient(95deg, #073cac 0%, #2a77f7 50%, #4d8fff 100%);
  }
  .navbar .navbar-item {
    display: block;
    font-size: 28px;
    padding: 68px 0 24px;
    text-align: center;
    font-weight: 700;
  }
  .intro .container .intro_text .intro_title {
    font-size: 44px;
    line-height: 60px;
  }
  .services .box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hamburger, .cancel_btn {
    display: block;
    font-size: 24px;
    color: #fff;
  }
  .cancel_btn {
    text-align: end;
    padding: 0 20px;
    position: relative;
    top: -46px;
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .intro .container, .box, .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .guarantie_img {
    width: auto;
  }
  .plan .section_title {
    width: auto;
  }
  .price {
    width: 80%;
  }
  .features .box:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features .box:nth-child(1) .section_title {
    padding-bottom: 30px;
  }
  .happy .box {
    width: auto;
  }
  .server .box {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
  .problems .box .patient {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .problems .box .patient:nth-child(even):hover {
    -webkit-transform: translateX(-16px);
            transform: translateX(-16px);
  }
  .problems .box .patient:nth-child(odd):hover {
    -webkit-transform: translateX(16px);
            transform: translateX(16px);
  }
  .problems .section_title {
    width: initial;
  }
  .services .container .box:last-child {
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .server .section_information, .guarantie .section_information {
    width: auto;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 16px 0;
  }
  .header .logo svg {
    width: 60%;
  }
  .intro {
    text-align: center;
  }
  .intro .container .intro_text .intro_title {
    font-size: 24px;
    line-height: 36px;
  }
  .intro .container .intro_text .intro_information {
    font-size: 14px;
    line-height: 26px;
  }
  .intro .container .intro_text .intro-btn {
    padding: 7px 15px;
    font-size: 10px;
    line-height: 20px;
    border-radius: 4px;
  }
  .section_title {
    font-size: 20px;
    line-height: initial;
  }
  .server .section_information, .guarantie .section_information {
    font-size: 14px;
  }
  .server .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .server .box div {
    width: 80%;
  }
  .happy .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .happy .box .section_information {
    font-size: 14px;
  }
  .features {
    background: #F2F5FF;
  }
  .features .feature {
    padding: 24px 26px;
    gap: 20px;
  }
  .features .feature .feature_svg svg {
    height: 54px;
    width: 54px;
  }
  .features .feature .feature_information {
    width: 100%;
  }
  .features .feature .feature_information .feature_title {
    font-size: 16px;
    line-height: 20px;
  }
  .features .feature .feature_information .feature_label {
    font-size: 12px;
    line-height: 19px;
  }
  .features .box:nth-child(1) .section_title {
    text-align: center;
  }
  .price {
    width: 100%;
  }
  .faq .question {
    font-size: 16px;
    line-height: 20px;
  }
  .footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .footer__bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .company {
    padding: 18px;
  }
  .problems .section_label {
    font-size: 16px;
    line-height: 28px;
  }
  .patient_title {
    font-size: 22px;
  }
  .patient_information {
    line-height: 28px;
  }
}

@media (max-width: 375px) {
  .faq .question {
    font-size: 14px;
  }
}

.loader {
  top: 0;
  z-index: 10;
  left: 0;
  background: #fff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

@-webkit-keyframes dots-loader {
  0% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  25% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

@keyframes dots-loader {
  0% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  8.33% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  16.67% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  25% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  33.33% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
  }
  41.67% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  50% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  58.33% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  66.67% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  75% {
    -webkit-box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
    box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
  }
  83.33% {
    -webkit-box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
    box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
  }
  91.67% {
    -webkit-box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
  100% {
    -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  }
}

/* :not(:required) hides this rule from IE9 and below */
.dots-loader:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 100%;
  -webkit-box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
  -webkit-animation: dots-loader 5s infinite ease-in-out;
  animation: dots-loader 5s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/*# sourceMappingURL=main.css.map */